@model IList<PostViewModel>



@{

    ViewBag.Title = "Posts";

}


<div class="d-flex flex-column align-items-center container">

    <h2 class="text-black-50 px-5 py-2 bg-secondary rounded-3 fs-4">@ViewBag.Title</h2>

    <hr />

    <div class="container">
        <a asp-controller="Posts" asp-action="Create" class="btn btn-primary mb-2">
            Add Post
        </a>
    </div>
</div>

<div class="bg-secondary rounded-3 flex-grow-1 flex-shrink-1 m-4 d-flex flex-column">
    @if (Model.Count() > 0)
    {
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-3 py-3 px-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title text-center">@post.Title<p></h4>
                            <p class="card-text">@post.Content</p>
                            <div class="d-grid gap-2">
                                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class="btn btn-warning">Edit</a>
                                <form asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id" class="mt-2">
                                    <div class="d-grid gap-2">
                                        <input type="submit" onclick="deleteAlert(event)" value="Delete" class="btn btn-danger mb-2" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="m-auto">
            <p class="fs-3 text-warning">No posts yet!</p>
        </div>
    }
</div>

@section Scripts {
    <script>
        function deleteAlert(e) {
            let form = e.target.parentElement.parentElement;
            e.preventDefault();
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: "Deleted!",
                        text: "Your file has been deleted.",
                        icon: "success",

                    })
                        .then((result) => {
                            if (result.isConfirmed) {
                                form.submit();
                            }
                        });

                    setTimeout(() => {
                        form.submit();
                    }, 2000)
                }
            });
        }
    </script>
}